
profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }

    // base galileo profile at: https://raw.githubusercontent.com/cnr-ibba/nf-configs/refs/heads/ibba/conf/ibba.config
    galileo {

        process {

            withLabel: "gpu" {
                // seems enabled by wf-basecalling singularity profile
                // see https://lucacozzuto.medium.com/using-gpu-within-nextflow-19cd185d5e69
                containerOptions = { workflow.containerEngine == "singularity" ? '--nv': ( workflow.containerEngine == "docker" ? '--gpus 1': null ) }

                // custom queue
                queue = "g100_usr_interactive"

                // custom resource limits for this queue
                resourceLimits = [
                    cpus: 48,
                    memory: 384.GB,
                    time: 8.h
                ]

                // limit the number of concurrent jobs
                maxForks = 5

                // custom cluster options (not managed by Nextflow)
                clusterOptions = { "--account=${SLURM_JOB_ACCOUNT} --qos=normal --gpus=1" }
            }

            withName: POD5_SUBSET {
                cpus    = 2
                time    = { 48.h * task.attempt }
            }

            withName: "DORADO.*" {
                // forcing a custom container for the dorado processes
                container = "docker.io/bunop/dorado:v1.0.2-cuda11.8.0"
            }

            withName: DORADO_DOWNLOAD {
                executor = "slurm"
                queue = "g100_all_serial"
                clusterOptions = { "--account=${SLURM_JOB_ACCOUNT} --qos=normal --nodelist=login03" }
                time = 4.h
                cpus = 1
            }

        }
    }
}
