
env {
    DRD_MODELS_PATH = '${HOME}/Projects/dorado_models'
}

singularity {
    runOptions = '-B ${HOME}/Projects/dorado_models'
}

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }

    // base galileo profile at: https://raw.githubusercontent.com/cnr-ibba/nf-configs/refs/heads/ibba/conf/ibba.config
    galileo {
        // those are required when loading an institutional configuration file
        params {
            // ignore errors with pipeline schema
            schema_ignore_params = [
                "config_profile_name",
                "config_profile_description",
                "config_profile_contact",
                "config_profile_url",
                "custom_config_base",
                "show_hidden_params",
                "validate_params",
                "monochrome_logs",
                "aws_queue",
                "aws_image_prefix",
                "wf"
            ].join(",")

            // nf-core config parameters
            config_profile_url = null
            config_profile_contact = null
            config_profile_description = null
            config_profile_name = null
            custom_config_base = null

            wf {
                basecaller_container = "docker.io/bunop/dorado"
                container_sha_basecalling = "v1.0.2-cuda11.8.0"
            }
        }

        env {
            DRD_MODELS_PATH = '${WORK}/dorado_models'
        }

        singularity {
            runOptions = '-B \$TMPDIR -B ${WORK}/dorado_models'
            envWhitelist = [
                'DRD_MODELS_PATH',
                'WORK'
            ].join(',')
        }

        process {
            withLabel:wf_basecalling {
                container = "${params.wf.basecaller_container}:${params.wf.container_sha_basecalling}"
            }

            withLabel: "gpu" {
                // seems enabled by wf-basecalling singularity profile
                // see https://lucacozzuto.medium.com/using-gpu-within-nextflow-19cd185d5e69
                // containerOptions = { workflow.containerEngine == "singularity" ? '--nv': ( workflow.containerEngine == "docker" ? '--gpus 1': null ) }

                // custom queue
                queue = "g100_usr_interactive"

                // custom resource limits for this queue
                resourceLimits = [
                    cpus: 48,
                    memory: 384.GB,
                    time: 8.h
                ]

                // limit the number of concurrent jobs to 10
                maxForks = 10

                // custom cluster options (not managed by Nextflow)
                clusterOptions = { "--account=${SLURM_JOB_ACCOUNT} --qos=normal --gpus=1" }
            }

            withName: "dorado" {
                cpus   = { 4 * task.attempt     }
                memory = { 32.GB * task.attempt }
                time   = 8.h

                errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
                maxRetries = 3
            }
        }
    }
}
